<div ng-controller="storeSetCtrl" class="storeSet_content" name="storeSet">
    <script type="text/ng-template" id="myModalContent.html">
         <div class="storeEdit">
             <div class="modal-header" >
                 <div class="modal-title"><span class="icon-icon_gear"></span>{{item.title}}</div>
             </div>
             <form role="form" >
                <div class="form-group form-group-selin">
                    <label>
                        <span>*</span>
                        <span>仓库名称</span>
                    </label>
                    <input type="text" placeholder="仓库名称" required ng-model="params.name">
                </div>
                 <div class="form-group form-group-selin">
                     <label>
                         <span>*</span>
                         <span>仓库地址</span>
                     </label>
                     <input type="text" placeholder="仓库地址" required  ng-model="params.address">
                 </div>
                 <div class="form-group form-group-selin">
                     <label>
                         <span>*</span>
                         <span>仓库联系人</span>
                     </label>
                     <input type="text" placeholder="仓库联系人" required ng-model="params.connect_username">
                 </div>
                 <div class="form-group form-group-selin">
                     <label>
                         <span>*</span>
                         <span>仓库联系方式</span>
                     </label>
                     <input type="text" placeholder="仓库联系方式" required ng-model="params.connect_info">
                 </div>
            </form>
             <div style="clear: both"></div>
             <div class="store_modal-footer">
                 <div class="storeBtn">
                     <button class="btn btn-primary btn-solid-back"  type="button" ng-click="ok()">保存</button>
                     <button class="btn btn-warning btn-blank-back"  type="button" ng-click="cancel()">取消</button>
                 </div>
             </div>




         </div>
    </script>
    <div class="main-top-bar">
        <p><span class="icon-icon_location"></span>我的仓库>仓库设置</p>
    </div>
    <div class="main-content" style="min-width: 1200px">
        <form role="form" class="search-bar col-flow storeSet">
            <div class=" form-group col-md-12 ">
              <span class="col-md-1 icon-icon_gear"></span>
              <span class="col-md-10" style="margin-left: -70px">仓库设置</span>
            </div>
            <div class="form-group col-md-12">
                <span class="col-md-1">仓库名称</span>
                <span class="col-md-5">{{params.name}}</span>
                <span class="col-md-1">仓库地址</span>
                <span class="col-md-5">{{params.address}}</span>
            </div>
            <div class="form-group col-md-12">
                <span class="col-md-1">仓库联系人</span>
                <span class="col-md-5">{{params.connect_username}}</span>
                <span class="col-md-1">仓库联系方式</span>
                <span class="col-md-5">{{params.connect_info}}</span>
            </div>
            <div class="col-md-12 edit">
                <button type="button" class="btn editBtn" ng-click="open('edit','edit')">修改仓库设置</button>
            </div>
        </form>
        <form role="form" class="search-bar col-flow storeSet">
            <div class=" form-group col-md-12 ">
                <span class="col-md-10">WMS设置</span>
            </div>
            <div class="content col-lg-12">
                <div  class="col-lg-12 content_contain">
                  <span class="icon-icon_warning col-lg-1" ></span>
                  <span class="desc col-lg-9">
                     <span>重置票据将导致已有票据失效,导致上层仓储系统(如:hulk)无法关联本仓库, 请后操作通知其做相应修改</span><br>
                     <span>票据:{{wms_token}}</span>
                  </span>
                  <div style="clear:both"></div>
                  <span class="contentBtn">
                      <button type="button" class="btn copyBtn" id="wms">复制</button>
                       <button type="button" class="btn resetBtn" ng-click="reset(0)">重置</button>
                  </span>
                </div>
            </div>


        </form>
        <form role="form" class="search-bar col-flow storeSet">
            <div class=" form-group col-md-12 ">
                <span class="col-md-10">盒子设置</span>
            </div>
            <div class="content col-lg-12">
                <div  class="col-lg-12 content_contain">
                    <span class="icon-icon_warning col-lg-1" ></span>
                  <span class="desc col-lg-9">
                     <span>重置票据将导致已有票据失效,导致上层仓储系统(如:hulk)无法关联本仓库, 请后操作通知其做相应修改</span><br>
                     <span>票据:{{box_token}}</span>
                  </span>
                    <div style="clear:both"></div>
                  <span class="contentBtn">
                      <button type="button" class="btn copyBtn" id="box">复制</button>
                       <button type="button" class="btn resetBtn" ng-click="reset(1)">重置</button>
                  </span>
                </div>
            </div>
        </form>
    </div>
</div>