<div class="RFID_Content" name="content">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <p class="modal-title"><span class="icon-icon_RFIDcardcontent"></span>{{item.title}}</p>
        </div>
        <div class="modal-body row">
            <div ng-show="item.text">{{item.text}}</div>
            <form role="form" class="pop-add-form-com add-form-content" ng-show="item.method=='add'">
                <div class="form-group">
                    <label for="add_serial">序列号:</label>
                    <input type="text" class="form-control" id="add_serial" placeholder="请填写序列号" ng-model="model" />
                </div>
            </form>

            <form role="form" class="pop-edit-form-com edit-form-content" ng-show="item.method=='modify'">
                <div class="form-group form-group-selin">
                    <label for="name">RFID卡类型:</label>
                    <ui-select ng-model="type" name="content_modal_type_select"  name="content_modal_type" theme="bootstrap"  on-select="changeType(type)">
                        <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in rfid_type_Items" style="width:500px">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                            <!-- <small ng-bind-html="item.email"></small> -->
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group form-group-selin">
                    <label for="name">状态:</label>
                    <ui-select ng-model="status" theme="bootstrap"  name="content_modal_status"  on-select="changeStatus(status)">
                        <ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
                        <ui-select-choices repeat="(key,value) in statusInfo" style="width:500px">
                            <div ng-bind-html="value.value"></div>
                            <!-- <small ng-bind-html="item.email"></small> -->
                        </ui-select-choices>
                    </ui-select>
                </div>
            </form>

            <div class="pop-delete-com pop-delete-com-content" ng-show="item.method=='delete'"><p><span></span>确定要删除这个RFID卡内容吗？<br/>注意：删除以后不可以恢复！</p></div>

        </div>
        <div class="modal-footer">
            <div class="modal-footer-resize-com modal-footer-resize-content">
                <button class="btn btn-primary btn-solid-back {{btn_ok_exit}}" name="content_modal_submmit" type="button" ng-click="ok()">确定</button>
                <button class="btn btn-warning btn-blank-back {{btn_cancel_exit}}" name="content_modal_cancel" type="button" ng-click="cancel()">取消</button>
            </div>
        </div>
    </script>
    <div class="main-top-bar content-bar">
        <p><span class="icon-icon_location"></span>设备管理>RFID卡数据</p>
    </div>
    <div class="main-content content-content">
        <form role="form" class="search-bar content-select">
            <div class="form-group">
                <label for="name">RFID卡类型:</label>
                <ui-select ng-model="type" name="content_type_select" theme="bootstrap"  on-select="changeType(type)">
                    <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in rfid_type_Items" style="width:500px">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                        <!-- <small ng-bind-html="item.email"></small> -->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label for="name">RFID分配编号:</label> 
                 <input type="text" class="form-control" name="content_serial" id="serial-search" placeholder="请输入分配编号" ng-model="rfid_id">
            </div>
            <!-- <div class="form-group">
                <label for="name">RFID硬件卡ID:</label> 
                 <input type="text" class="form-control" id="serial-search" placeholder="请输入硬件卡ID" ng-model="rfid_card_id">
            </div> -->
            <div class="form-group">
                <label for="name">是否写入:</label>
                <ui-select ng-model="write"  name="content_write" theme="bootstrap"  on-select="changeWrite(write)">
                    <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in is_writed_Items" style="width:500px">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                        <!-- <small ng-bind-html="item.email"></small> -->
                    </ui-select-choices>
                </ui-select>
            </div>
             <div class="form-group">
                <label for="name">RFID分配货位:</label> 
                 <input type="text" class="form-control" name="content_gooods" id="serial-search" placeholder="请输入分配货位" ng-model="goods_location_name">
            </div>
            <div class="form-group">
                <label for="name">RFID硬件卡序列号:</label> 
                 <input type="text" class="form-control" name="content_serial" placeholder="请输入硬件卡序列号" ng-model="card_serial_number">
            </div>
            <div class="btns-group">
                <button type="button" name="content_search" class="btn btn-rfid-search" ng-click="rfid_type=rfid_typeTemp;rfid_card_idTemp=rfid_card_id;rfid_idTemp=rfid_id;is_writed=is_writedTemp;card_serial_numberTemp=card_serial_number;goods_location_nameTemp=goods_location_name;submit_search(status,0)"><span class="icon-icon_search"></span>搜索</button>
                <!-- <button type="button" class="btn btn-rfid-add" ng-click="open('md','add',$index)"><span></span>增加</button> -->
            </div>
        </form>
        <div class="type-sel-tab-pare">
            <ul class="type-sel-tab">

                <!-- <li><p><span class="icon-icon_warehouse_into"></span>待入库(0)</p></li>
                <li><p><span class="icon-icon_warehouse_eyes"></span>入库监视(0)</p></li>
                <li><p><span class="icon-icon_warehouse_out"></span>待出库(0)</p></li>
                <li><p><span class="icon-icon_warehouse_complete"></span>已出库(0)</p></li>
                <li><p><span class="icon-icon_warehouse_outcomplete"></span>完成出库(0)</p></li>
                <li><p><span class="icon-icon_warehouse_delete"></span>已删除作废(0)</p></li> -->
                <li ng-repeat="(key,value) in statusInfo" >
                    <p ng-click="typeSelTabClick(key)" name="content_nav_{{index}}"   ng-class="{true:'sel-tab-active'}[tabActive[key]]"><span class="{{statusIcon[key]}}"></span>{{value}}({{bigTotalItems_detail[key].total}})</p>
                </li>
            </ul>
            <div class="type-sel-bot">
            </div>
        </div>

        <table class="table table-bordered table-content">
            <thead>
                <tr>
                    <th ng-click="switch_order('id')"><p>编号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].id]"></span></p></th>
                    <th ng-click="switch_order('rfid_id')"><p>RFID分配编号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].rfid_id]"></span></p></th>
                    <th ng-click="switch_order('status')"><p>功能<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].status]"></span></p></th>
                    <th ng-click="switch_order('is_writed')"><p>是否写入<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].is_writed]"></span></p></th>
                    <th ng-click="switch_order('rfid_type')"><p>状态<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].rfid_type]"></span></p></th>
                    <!-- <th ng-click="switch_order('goods_location_name')"><p>分配货位<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].goods_location_name]"></span></p></th>
                    <th ng-click="switch_order('card_serial_number')"><p>RFID硬件卡<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].card_serial_number]"></span></p></th> -->
                    <th ng-click="switch_order('goods_location_id')"><p>分配货位<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].goods_location_id]"></span></p></th>
                    <th ng-click="switch_order('rfid_card_id')"><p>RFID硬件卡<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].rfid_card_id]"></span></p></th>
                    <th ng-click="switch_order('updated_at')"><p>更新时间<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].updated_at]"></span></p></th>
                    <th ng-click="switch_order('created_at')"><p>创建时间<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order[currentSelTab].created_at]"></span></p></th>
                    <th ng-show="currentSelTab!='500' && currentSelTab!='600'"><p>操作</p></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td><p>23</p></td>
                    <td><p>sa10011961</p></td>
                    <td><p>正常</p></td>
                    <td><p>2016.9.10</p></td>
                    <td><p>2019.8.1</p></td>
                    <td><p><span class="rfid-edit"></span><span class="rfid-delete"></span></p></td>
                </tr> -->
                <tr ng-repeat="item in query_result[currentSelTab]">
                    <td><p>{{item.id}}</p></td>
                    <td><p>{{item.rfid_id}}</p></td>
                    <td><p>{{item.rfid_type_display}}</p></td>
                    <td><p>{{item.is_writed | opis_writed}}</p></td>
                    <td><p>{{item.status_display}}</p></td>
                   <!--  <td><p>{{item.goods_location.name}}</p></td>
                    <td><p>{{item.rfid_card.serial_number}}</p></td> -->
                    <td><p>{{item.goods_location.name}}</p></td>
                    <td><p>{{item.rfid_card.serial_number}}</p></td>
                    <td><p>{{item.updated_at | time_format}}</p></td>
                    <td><p>{{item.created_at | time_format}}</p></td>
                    <td ng-show="currentSelTab!='500' && currentSelTab!='600'">
                        <p><span class="rfid-edit icon-icon_edit"  name="content_edit_{{$index}}" ng-click="open('md-edit-content','modify',$index)"></span>
                            <span class="rfid-delete icon-icon_cancel"  name="content_delete_{{$index}}" ng-click="open('md-delete','delete',$index)"></span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="emptyDataList {{emptyDataListShow}}">
            <p><span class="icon-icon_RFIDcardcontent"></span><span>对不起，您搜索的内容不存在，<br/>请重新搜索</span></p>
            
        </div>
        <table class="table table-pagination" ng-show="bigTotalItems>0">
            <thead>
                <tr>
                    <th class="pagination-items-per-page">
                        <!-- <span>每页显示数量</span>
                        <ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                            <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in numbers">
                                <div ng-bind-html="item"></div>
                            </ui-select-choices>
                        </ui-select> -->
                        <div class="pagination-content">
                            <span class="pagination-tip">每页显示数量</span>
                            <ui-select ng-model="number2" name="content_page_select" theme="bootstrap" on-select="setShowNum(number2)">
                                <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="item in numbers">
                                    <div ng-bind-html="item"></div>
                                    <!-- <small ng-bind-html="item.email"></small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </th>
                    <th>
                        <!-- <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()" ng-model="index" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" num-pages="numPages" previous-text="上一页" next-text="下一页">
                        </uib-pagination> -->
                        <uib-pagination items-per-page="number[currentSelTab]" total-items="bigTotalItems" ng-change="changePage()" ng-model="index" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" num-pages="numPages" previous-text="上一页" next-text="下一页">
                        </uib-pagination>
                        <div class="pagination-detail">
                            <span>共{{total_page}}页</span>
                            <span>跳至<input type="text" name="content_page" ng-model="index_sel"/>页</span>
                            <span><button id="" name="content_submmit" ng-click="setPage()">确定</button></span>
                        </div>
                    </th>

                </tr>
            </thead>
        
        </table>

    </div>
   
</div>