<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{item.title}}</h3>
    </div>
    <div class="modal-body row">
        <div ng-show="item.text">{{item.text}}</div>
        <div class="row col-md-12" ng-show="item.title">
            <!--修改记录RFID卡选择-->
            <!--<div class="row col-md-12">-->
                <!--<form class="form-inline">-->
                    <!--<div class="form-group col-md-12">-->
                        <!--<label class="label-md-4">RFID卡：</label>-->
                        <!--<select class="form-control search-md-8" ng-model="rfid_card">-->
                            <!--<option value="-1">选择硬件卡</option>-->
                            <!--<option ng-repeat="items in rfid_cards.data" value="{{items.id}}">{{items.serial_number}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <div class="row col-md-12">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">RFID类型：</label>
                        <select class="form-control search-md-8" ng-model="rfid_type">
                            <option ng-repeat="(key, value) in item.choice.data.rfid_type" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row col-md-12">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">状态：</label>
                        <select class="form-control search-md-8" ng-model="status">
                            <option ng-repeat="(key, value) in item.choice.data.status" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <!--<table class="table table-hover table-striped table-condensed table-responsive">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>RFID硬件卡</th>-->
                        <!--<th>选择标记类型</th>-->
                        <!--<th>状态</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--<select class="form-control" ng-model="rfid_card">-->
                                <!--<option value="-1">选择硬件卡</option>-->
                                <!--<option ng-repeat="items in rfid_cards.data" value="{{items.id}}">{{items.serial_number}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select class="form-control" ng-model="rfid_type">-->
                                <!--&lt;!&ndash;<option value="-1">选择货物类型</option>&ndash;&gt;-->
                                <!--<option ng-repeat="(key, value) in item.choice.data.rfid_type" value="{{key}}">{{value}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<select class="form-control" ng-model="status">-->
                                <!--<option ng-repeat="(key, value) in item.choice.data.status" value="{{key}}">{{value}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-class="{'-1':'disabled'}[rfid_card]" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
<div class="row-fluid">
    <div class="row col-md-12 search-board">
        <div class="col-md-12">
            <div class="col-md-5">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">RFID类型：</label>
                        <select class="form-control search-md-8" ng-model="rfid_type">
                            <option value="-1">-----------</option>
                            <option ng-repeat="(key, value) in choice.data.rfid_type" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">RFID分配编号  ：</label>
                        <input type="text" class="form-control input-md search-md-8" ng-model="rfid_id" placeholder="RFID分配编号">
                    </div>
                </form>
            </div>
        </div>
        <div class=" col-md-12">
            <div class="col-md-5">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">是否写入：</label>
                        <select class="form-control search-md-8" ng-model="is_writed">
                            <option value="-1">-----------</option>
                            <option ng-repeat="(key, value) in choice.data.is_writed" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">RFID硬件卡  ：</label>
                        <input type="text" class="form-control input-md search-md-8" ng-model="rfid_card.serial_number" placeholder="RFID硬件卡序列号">
                    </div>
                </form>
            </div>
        </div>

        <div class=" col-md-12">
            <div class=" col-md-5">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">分配货位：</label>
                        <input type="text" class="form-control input-md search-md-8" ng-model="goods_location.name" placeholder="RFID分配的货位">
                    </div>
                </form>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success" ng-click="submit_search(0,0,1)">搜索</button>
            </div>
        </div>
        <!--</div>-->
    </div>
    <!--添加一条记录-->
    <!--<div class="row col-md-12 add-board">-->
        <!--<div class="col-md-1 col-md-offset-10">-->
            <!--<lable class="btn btn-success" ng-click="open('md','add')">+Add</lable>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row col-md-12 contentdesc">
        <ul class="nav nav-tabs">
            <li role="presentation">总待入库({{ bigTotalItems.a100 }})</li>
            <li role="presentation">总入库监视({{ bigTotalItems.a200 }})</li>
            <li role="presentation">总待出库({{ bigTotalItems.a300 }})</li>
            <li role="presentation">总已出库({{ bigTotalItems.a400 }})</li>
            <li role="presentation">总完成出库({{ bigTotalItems.a500 }})</li>
            <li role="presentation">总已删除作废({{ bigTotalItems.a600 }})</li>
        </ul>
    </div>
    <div class="row col-md-12 result-board">

        <uib-tabset active="activeJustified">
            <uib-tab index="100" heading="待入库" ng-click="submit_search('100',1,1)">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.status]" ng-click="switch_order('status')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.rfid_type]" ng-click="switch_order('rfid_type')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a100.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in query_result.a100">
                        <td>{{items.id}}</td>
                        <td>{{items.rfid_id}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.is_writed_display}}</td>
                        <td>{{items.rfid_type_display}}</td>
                        <td>{{items.goods_location.name}}</td>
                        <td>{{items.rfid_card.serial_number}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <td>
                            <div class="btn-group-xs">
                                <span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>
                                <span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a100}}条记录</label>
                </div>
                <div class="col-md-12"  ng-show="bigTotalItems.a100>=number.a100">
                   <div class="col-md-6">
                      <uib-pagination items-per-page="number.a100" total-items="bigTotalItems.a100" ng-change="changePage()" ng-model="bigCurrentPage.a100" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                   </div>
                   <div class="col-md-6 num_per_page">
                      <form class="form-inline">
                          <div class="form-group col-md-12">
                              <label class="label-md-4">每页条数：</label>
                                 <select class="form-control search-md-8" ng-model="number.a100" ng-change="setPage()"><option value="10">10</option>
                                   <option value="20">20</option>
                                   <option value="30">30</option>
                                   <option value="40">40</option>
                                   <option value="50">50</option>
                                 </select>
                          </div>
                      </form>
                   </div>
                </div>
            </uib-tab>
            <uib-tab index="200" heading="入库监视" ng-click="submit_search('200',1,1)">
                <table class="table table-condensed table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.status]" ng-click="switch_order('status')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.rfid_type]" ng-click="switch_order('rfid_type')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a200.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in query_result.a200">
                            <td>{{items.id}}</td>
                            <td>{{items.rfid_id}}</td>
                            <td>{{items.rfid_type_display}}</td>
                            <td>{{items.is_writed_display}}</td>
                            <td>{{items.status_display}}</td>
                            <td>{{items.goods_location.name}}</td>
                            <td>{{items.rfid_card.serial_number}}</td>
                            <td>{{items.updated_at}}</td>
                            <td>{{items.created_at}}</td>
                            <td>
                                <div class="btn-group-xs">
                                    <span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>
                                    <span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a200}}条记录</label>
                </div>
                <div class="col-md-12" ng-show="bigTotalItems.a200>=number.a200">
                    <div class="col-md-6">
                        <uib-pagination items-per-page="number.a200" total-items="bigTotalItems.a200" ng-change="changePage()" ng-model="bigCurrentPage.a200" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                    </div>
                    <div class="col-md-6 num_per_page">
                        <form class="form-inline">
                            <div class="form-group col-md-12">
                                <label class="label-md-4">每页条数：</label>
                                <select class="form-control search-md-8" ng-model="number.a200" ng-change="setPage()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="300" heading="待出库" ng-click="submit_search('300',1,1)">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.status]" ng-click="switch_order('status')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.rfid_type]" ng-click="switch_order('rfid_type')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a300.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in query_result.a300">
                        <td>{{items.id}}</td>
                        <td>{{items.rfid_id}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.is_writed_display}}</td>
                        <td>{{items.rfid_type_display}}</td>
                        <td>{{items.goods_location.name}}</td>
                        <td>{{items.rfid_card.serial_number}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <td>
                            <div class="btn-group-xs">
                                <span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>
                                <span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a300}}条记录</label>
                </div>
                <div class="col-md-12" ng-show="bigTotalItems.a300>=number.a300">
                    <div class="col-md-6">
                        <uib-pagination items-per-page="number.a300" total-items="bigTotalItems.a300" ng-change="changePage()" ng-model="bigCurrentPage.a300" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                    </div>
                    <div class="col-md-6 num_per_page">
                        <form class="form-inline">
                            <div class="form-group col-md-12">
                                <label class="label-md-4">每页条数：</label>
                                <select class="form-control search-md-8" ng-model="number.a300" ng-change="setPage()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="400" heading="已出库" ng-click="submit_search('400',1,1)">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.status]" ng-click="switch_order('status')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.rfid_type]" ng-click="switch_order('rfid_type')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a400.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in query_result.a400">
                        <td>{{items.id}}</td>
                        <td>{{items.rfid_id}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.is_writed_display}}</td>
                        <td>{{items.rfid_type_display}}</td>
                        <td>{{items.goods_location.name}}</td>
                        <td>{{items.rfid_card.serial_number}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <td>
                            <div class="btn-group-xs">
                                <span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>
                                <span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a400}}条记录</label>
                </div>
                <div class="col-md-12" ng-show="bigTotalItems.a400>=number.a400">
                    <div class="col-md-6">
                        <uib-pagination items-per-page="number.a400" total-items="bigTotalItems.a400" ng-change="changePage()" ng-model="bigCurrentPage.a400" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                    </div>
                    <div class="col-md-6 num_per_page">
                        <form class="form-inline">
                            <div class="form-group col-md-12">
                                <label class="label-md-4">每页条数：</label>
                                <select class="form-control search-md-8" ng-model="number.a400" ng-change="setPage()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="500" heading="完成出库" ng-click="submit_search('500',1,1)">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.status]" ng-click="switch_order('status')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.rfid_type]" ng-click="switch_order('rfid_type')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a500.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <!--<th>操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in query_result.a500">
                        <td>{{items.id}}</td>
                        <td>{{items.rfid_id}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.is_writed_display}}</td>
                        <td>{{items.rfid_type_display}}</td>
                        <td>{{items.goods_location.name}}</td>
                        <td>{{items.rfid_card.serial_number}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <!--<td>-->
                            <!--<div class="btn-group-xs">-->
                                <!--<span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>-->
                                <!--<span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a500}}条记录</label>
                </div>
                <div class="col-md-12" ng-show="bigTotalItems.a500>=number.a500">
                    <div class="col-md-6">
                        <uib-pagination items-per-page="number.a500" total-items="bigTotalItems.a500" ng-change="changePage()" ng-model="bigCurrentPage.a500" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                    </div>
                    <div class="col-md-6 num_per_page">
                        <form class="form-inline">
                            <div class="form-group col-md-12">
                                <label class="label-md-4">每页条数：</label>
                                <select class="form-control search-md-8" ng-model="number.a500" ng-change="setPage()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="600" heading="已删除作废" ng-click="submit_search('600',1,1)">
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.rfid_id]" ng-click="switch_order('rfid_id')">RFID分配编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.status]" ng-click="switch_order('status')">状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.is_writed]" ng-click="switch_order('is_writed')">已写入</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.rfid_type]" ng-click="switch_order('rfid_type')">功能</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600['goods_location.name']]" ng-click="switch_order('goods_location.name')">RFID分配货位</th>
                        <!--<th>RFID硬件卡</th>-->
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600['rfid_card.serial_number']]" ng-click="switch_order('rfid_card.serial_number')">RFID硬件卡</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.a600.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <!--<th>操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="items in query_result.a600">
                        <td>{{items.id}}</td>
                        <td>{{items.rfid_id}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.is_writed_display}}</td>
                        <td>{{items.rfid_type_display}}</td>
                        <td>{{items.goods_location.name}}</td>
                        <td>{{items.rfid_card.serial_number}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <!--<td>-->
                            <!--<div class="btn-group-xs">-->
                                <!--<span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>-->
                                <!--<span class="btn btn-xs btn-danger" ng-click="open('sm','delete',$index)">删除</span>-->
                            <!--</div>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="row col-md-12 ">
                    <label class="label-md-4">共:{{searchTotal.a600}}条记录</label>
                </div>
                <div class="col-md-12" ng-show="bigTotalItems.a600>=number.a600">
                    <div class="col-md-6">
                        <uib-pagination items-per-page="number.a600" total-items="bigTotalItems.a600" ng-change="changePage()" ng-model="bigCurrentPage.a600" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                    </div>
                    <div class="col-md-6 num_per_page">
                        <form class="form-inline">
                            <div class="form-group col-md-12">
                                <label class="label-md-4">每页条数：</label>
                                <select class="form-control search-md-8" ng-model="number.a600" ng-change="setPage()">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>