<div ng-controller="eventlogCtrl" class="eventlog_Content" name="eventlog">
    <div class="main-top-bar">
        <p><span class="icon-icon_location"></span>设备管理>事件日志</p>
    </div>
   <div class="main-content" style="min-width: 1200px">
       <form role="form" class="search-bar col-flow">

           <div class="form-group form-group-selin">
               <label>事件类型:</label>
               <ui-select ng-model="params.event_type" theme="bootstrap"
                          on-select="params.event_type=$select.selected.key;">
                   <ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
                   <ui-select-choices repeat="item.key as (key,item) in selections.event_type">
                       <div class="select-item">{{item.value}}</div>
                   </ui-select-choices>
               </ui-select>
           </div>
           <div class="form-group form-group-selin">
               <label>RFID序列号:</label>
               <input type="text"  class="form-control" placeholder="请输入名称" ng-model="params.rfid_id">
           </div>
           <div class="form-group form-group-selin">
               <label>读写器:</label>
               <ui-select ng-model="params.reader_id" theme="bootstrap"
                          on-select="params.reader_id=$select.selected.id;">
                   <ui-select-match placeholder="--请选择-">{{$select.selected.serial_number}}</ui-select-match>
                   <ui-select-choices repeat="item.id as item in reader">
                       <div class="select-item">{{item.serial_number}}</div>
                   </ui-select-choices>
               </ui-select>
           </div>
           <div class="form-group form-group-selin">
               <label>摄像头:</label>
               <ui-select ng-model="params.camera_id" theme="bootstrap"
                          on-select="params.camera_id=$select.selected.id;">
                   <ui-select-match placeholder="--请选择-">{{$select.selected.serial_number}}</ui-select-match>
                   <ui-select-choices repeat="item.id as item in camera">
                       <div class="select-item">{{item.serial_number}}</div>
                   </ui-select-choices>
               </ui-select>
           </div>
           <div class="form-group form-group-selin">
               <label>事件反馈:</label>
               <ui-select ng-model="params.event_feedback_type" theme="bootstrap"
                          on-select="params.event_feedback_type=$select.selected.key;">
                   <ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
                   <ui-select-choices repeat="item.key as (key,item) in selections.event_feedback_type">
                       <div class="select-item">{{item.value}}</div>
                   </ui-select-choices>
               </ui-select>
           </div>

           <div class="form-group form-group-selin">
               <label>处理类型:</label>
               <ui-select ng-model="params.handle_result" theme="bootstrap"
                          on-select="params.handle_result=$select.selected.key;">
                   <ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
                   <ui-select-choices repeat="item.key as (key,item) in selections.handle_result">
                       <div class="select-item">{{item.value}}</div>
                   </ui-select-choices>
               </ui-select>
           </div>
           <div class="btns-group">
               <a type="button" class="btn btn-green" ng-click="refresh()"><span
                       class="icon-icon_search btn-icon"></span>搜索</a>
           </div>
       </form>
       <!--<form role="form" class="search-bar col-flow">-->

       <!--</form>-->
       <div style="clear: both"></div>
       <div class="condition-sort">
           <ul class="condition-sort-ul">
               <li class="condition-sort-li" ng-click="order.id=!order.id;refresh()"><p>编号<span ng-class="order.id?'icon-icon_sort_up':'icon-icon_sort_down'"></span></p></li>
               <li class="condition-sort-li" ng-click="order.event_feedback_type=!order.event_feedback_type;refresh()"><p>事件反馈类型<span ng-class="order.event_feedback_type?'icon-icon_sort_up':'icon-icon_sort_down'"></span></p></li>
               <li class="condition-sort-li" ng-click="order.event_type=!order.event_type;refresh()"><p>事件类型<span ng-class="order.event_type?'icon-icon_sort_up':'icon-icon_sort_down'"></span></p></li>
               <li class="condition-sort-li" ng-click="order.event_datetime=!order.event_datetime;refresh()"><p>事件发生时间<span ng-class="order.event_datetime?'icon-icon_sort_up':'icon-icon_sort_down'"></span></p></li>
           </ul>
           <table class="table table-pagination table-pagination-sort" >
               <thead>
               <tr>
                   <th class="pagination-items-per-page">
                       <div class="pagination-content">
                           <span class="pagination-tip">每页显示数量</span>
                           <ui-select ng-model="params.number" theme="bootstrap" on-select="params.number=$select.selected;refresh();">
                               <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                               <ui-select-choices repeat="item in selections.numbers">
                                   <div ng-bind-html="item"></div>
                                   <!-- <small ng-bind-html="item.email"></small> -->
                               </ui-select-choices>
                           </ui-select>
                       </div>
                   </th>
               </tr>
               </thead>
           </table>


       </div>
       <div class="eventlog_detail" ng-show="dataList.length>0">
           <div class="main-detail-tab">
               <ul class="nav nav-tabs">
                   <li class="tab-item" style="margin-left:20px;" ng-class="tabSwitch==0?'active':''" ng-click="tabSwitch=0;">
                       <a href="javascript:void(0)"><span class="icon icon-icon_picture"></span><br/>照片地址</a></li>
                   <li class="tab-item" ng-class="tabSwitch==1?'active':''" ng-click="tabSwitch=1;">
                       <a href="javascript:void(0)"><span class="icon icon-icon_video"></span><br/>视频地址</a></li>
               </ul>
               <div class="detail-img detail-img1" ng-show="tabSwitch==0">
                   <img ng-src="{{detail.photo_url | img}}"/>
                   <div class="img-bottom-bar"><a ng-href="{{detail.photo_url}}" class="icon icon-icon_download" download></a><span class="icon icon-icon_expand" ng-click="showImg(detail.photo_url)"></span></div>

               </div>
               <div class="detail-img" ng-show="tabSwitch==1">
                   <img ng-src="{{detail.video_url | img:true}}" ng-show="!detail.video_url"/>
                   <div id="container"></div>
               </div>
               <div class="bottom-bar-group">
                   <span class="previous-group"  >上一组<span class="icon-icon_arrow_circleleft" ng-class="currentIndex<=0?'noclick':''" ng-disabled="currentIndex<=0" ng-click="currentIndex>0?showDetail(currentIndex-1):''"></span></span>
                   <span class="next-group">下一组<span class="icon-icon_arrow_circleright" ng-class="currentIndex==dataList.length-1?'noclick':''" ng-click="currentIndex!=dataList.length-1?showDetail(currentIndex+1):''" ></span></span>

               </div>

           </div>
           <div class="main-detail-content">
               <div class="form-group">
                   <span class="col-lg-12"><span class="icon icon-icon_eventlog"></span>NO:{{detail.id}} 详细信息</span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">事件反馈类型</span>
                   <span class="col-lg-4">{{detail.event_feedback_type_display}}</span>
                   <span class="col-lg-2">事件类型</span>
                   <span class="col-lg-4">{{detail.event_type_display}}</span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">事件发生时间</span>
                   <span class="col-lg-4">{{detail.event_datetime}}</span>
                   <span class="col-lg-2">摄像头</span>
                   <span class="col-lg-4">{{detail.camera.serial_number}}</span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">RFID读写器</span>
                   <span class="col-lg-4">{{detail.event_feedback_type_display}}</span>
                   <span class="col-lg-2">事件反馈简述</span>
                   <span class="col-lg-4">{{detail.event_feedback_detail_display|characters:10 :true}}</span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">RIDF列表</span>
                   <span class="col-lg-10">{{detail.rfid_list_display}}</span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">处理结果</span>
                   <span class="col-lg-10">{{detail.handle_result_display}}<a href="javascript:void(0)" style="margin-left:10px;" ng-if="detail.handle_result==0" ng-click="handleEvent(detail)">前去处理</a></span>
               </div>
               <div class="form-group">
                   <span class="col-lg-2">事件描述</span>
                   <span class="col-lg-10">{{detail.description}}</span>
               </div>
           </div>
           <div class="main-detail-record">
               <div class="record-desc" ng-class="{'active':item.id==detail.id}"  ng-repeat="item in dataList" ng-click="showDetail($index)">
                    <ul >
                        <li>
                            <span class="number">编号:</span>
                            <span>{{item.id}}</span>
                        </li>
                        <li>
                            <span>事件反馈类型</span>
                            <span>{{item.event_feedback_type_display}}</span>
                        </li>
                        <li>
                            <span>事件类型</span>
                            <span>{{item.event_type_display}}</span>
                        </li>
                        <li>
                            <span>事件发生时间</span>
                            <span>{{item.created_at}}</span>
                        </li>

                    </ul>
               </div>


           </div>
       </div>
       <table class="table table-pagination" ng-show="totalPage>1">
           <thead>
           <tr>
               <th>
                   <uib-pagination items-per-page="params.number" total-items="total" ng-change="refresh()"
                                   ng-model="params.index" max-size="5"
                                   class="pagination-sm" boundary-link-numbers="true"
                                   previous-text="上一页" next-text="下一页"></uib-pagination>


                   <div class="pagination-detail">
                       <span>共{{totalPage}}页</span>
                       <span>跳至<input type="text" ng-model="jumpToPage"/>页</span>
                       <span><button ng-click="refresh(jumpToPage);jumpToPage='';">确定</button></span>
                   </div>
               </th>
           </tr>
           </thead>
       </table>
       <div  class="notFound" ng-show="listLoadFlag==2&&dataList&&dataList.length==0">
           <p><span class="icon-icon_eventlog"></span><span class="notFound_desc">对不起，您搜索的内容不存在。<br/>请重新搜索。</span></p>
       </div>

       <!--<div ng-show="listLoadFlag==2&&dataList&&dataList.length==0" class="emplty-view">-->
           <!--<span class="icon icon-icon_alert"></span><span class="empty-view-text">对不起，您搜索的内容不存在。<br/>请重新搜索。</span>-->
       <!--</div>-->
       <div style="clear: both"></div>

   </div>



</div>