<!--<div class="cargo1" ng-click="click()"></div>-->

<!--<div id="news-warming" class="col-xs-8 col-md-offset-2">-->
    <!--<marquee class="news-warming-in" scrollamount="5" behavior="scroll" direction="left">-->
        <!--<div >{{warn}}</div>-->
    <!--</marquee>-->
<!--</div>-->
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2 warehouse" style="margin-top: 40px">
        <div class="door"></div>
        <div class="col-sm-6 row">
            <div class="col-sm-12 cargo-ware">
                <div ng-repeat="item in matrix.slice(4,6) track by $index" class="cargo-block-outer">
                    <div class="cargo-block-right cargo-block">
                        <div ng-repeat="jtem in item track by $index" class="cargo2 pull-left" ng-class="{1:'cargo-in'}[jtem]"></div>
                    <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="col-sm-12 cargo-ware">
                <div ng-repeat="item in matrix.slice(6,8) track by $index" class="cargo-block-outer">
                    <div class="cargo-block-right cargo-block">
                        <div ng-repeat="jtem in item track by $index" class="cargo2 pull-left" ng-class="{1:'cargo-in'}[jtem]"></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-12 cargo-ware">
                <div ng-repeat="item in matrix.slice(0,2) track by $index" class="cargo-block-outer">
                    <div class="cargo-block-left cargo-block">
                        <div ng-repeat="jtem in item track by $index" class="cargo1 pull-right" ng-class="{1:'cargo-in'}[jtem]"></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="col-sm-12 cargo-ware">
                <div ng-repeat="item in matrix.slice(2,4) track by $index" class="cargo-block-outer">
                    <div class="cargo-block-left cargo-block">
                        <div ng-repeat="jtem in item track by $index" class="cargo1 pull-right" ng-class="{1:'cargo-in'}[jtem]"></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>