<div class="logo"></div>
<div class="center-block logo-window" id="register">
    <h5 class="form-title font-green">仓储后台管理系统</h5>
    <form name="register" method="post" class="form-horizontal" novalidate="">
        <div id="wizard">
            <ul id="status">
                <li ng-class="{0:'active'}[active]" class="active"><strong>1.</strong>创建账户</li>
                <li ng-class="{1:'active'}[active]"><strong>2.</strong>填写联系信息</li>
                <li ng-class="{2:'active'}[active]"><strong>3.</strong>完成</li>
            </ul>
            <div class="items" ng-style="itemStyle">
                <div class="page">
                    <div class="form-group height50">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>用户名：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-sm" name="loginName" required ng-maxlength="20" ng-model="information.username">
                            <span class="errorInfo step1" ng-show="register.loginName.$touched&&register.loginName.$error.required">必填</span>
                            <span class="errorInfo step1" ng-show="register.loginName.$touched&&register.loginName.$invalid">用户名不宜超过20个字符</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="form-group height50">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>密码：</label>
                        <div class="col-md-9">
                            <input type="password" name="loginPwd" class="form-control input-sm" required ng-maxlength="20" ng-minlength="6" ng-model="information.password">
                            <span class="errorInfo step1" ng-show="register.loginPwd.$touched&&register.loginPwd.$error.required">必填</span>
                            <span class="errorInfo step1" ng-show="register.loginPwd.$touched&&register.loginPwd.$invalid">密码的设置为6-20位</span>
                        </div>
                    </div>
                    <div class="form-group height50">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>确认密码：</label>
                        <div class="col-md-9">
                            <input type="password" name="loginPwd1" class="form-control input-sm" required ng-model="information.re_password">
                            <span class="errorInfo step1" ng-show="register.loginPwd1.$touched&&register.loginPwd1.$error.required">必填</span>
                            <span class="errorInfo step1" ng-show="register.loginPwd1.$touched&&information.password!=information.re_password">确认密码跟密码不一致</span>
                        </div>
                    </div>
                    <div class="btn_nav">
                        <input type="button" class="btn btn-sm green next right" value="下一步" ng-click="check_valid1()">
                    </div>
                </div>
                <div class="page">
                    <div class="form-group ">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>仓库名称：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control wid280 input-sm input-inline" name="compName" ng-model="information.name" required placeholder="仓库名称">
                            <span class="errorInfo alignCenter" ng-show="register.compName.$touched&&register.compName.$error.required">必填</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>仓库地址：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-sm wid280 input-inline" name="compAddress" ng-model="information.address" required placeholder="仓库地址">
                            <span class="errorInfo alignCenter" ng-show="register.compAddress.$touched&&register.compAddress.$error.required">必填</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>仓库联系人：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-sm wid280 input-inline" name="compContact" ng-model="information.connect_username" required placeholder="仓库联系人">
                            <span class="errorInfo alignCenter" ng-show="register.compContact.$touched&&register.compContact.$error.required">必填</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-3 control-label"><span class="redFont">*</span>仓库联系方式：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control input-sm wid280 input-inline" name="compPhone" ng-model="information.connect_info" required placeholder="仓库联系方式">
                            <span class="redFont errorInfo alignCenter" ng-show="register.compPhone.$touched&&register.compPhone.$error.required">必填</span>
                        </div>
                    </div>
                    <!--暂时不需要WMS系统编号-->
                    <!--<div class="form-group ">-->
                        <!--<label class="col-md-3 control-label"><span class="redFont">*</span>WMS系统编号：</label>-->
                        <!--<div class="col-md-9">-->
                            <!--<input type="text" class="form-control input-sm wid280 input-inline" name="wms_id" ng-model="information.wms_id" required placeholder="WMS系统编号">-->
                            <!--<span class="redFont errorInfo alignCenter" ng-show="register.wms_id.$touched&&register.wms_id.$error.required">必填</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="btn_nav">
                        <input type="button" class="prev btn btn-sm blue" style="float:left" value="上一步" ng-click="goBack(0)">
                        <input type="button" class="next right btn btn-sm green" value="下一步" ng-click="check_valid2()">
                    </div>
                </div>
                <div class="page">
                    <div ng-show="register_success==1">
                        <h3>完成注册</h3>
                        <h4>{{information.username}}欢迎您！</h4>
                        <p>去<a href="/login.html" class=" btn btn-sm green">登录</a></p>
                        <br>
                        <br>
                        <br>

                    </div>
                    <div ng-show="register_success==0">
                        <h3>注册失败<br></h3>
                        <br>
                        <h2 style="color:red">{{failureInfo}}</h2>
                        <br>
                        <br>
                        <div class="btn_nav" >
                            <input type="button" class="prev btn btn-sm blue" style="float:left" value="上一步" ng-click="goBack(1)">
                            <a href="/login.html#/register" class="right btn btn-sm green" ng-click="re_register()">再次注册</a>
                        </div>
                    </div>
                    <div ng-show="register_success==-1">
                        <h3>正在请求服务器...</h3>
                        <div class="btn_nav" >
                            <input type="button" class="prev btn btn-sm blue" style="float:left" value="上一步" ng-click="goBack(1)">
                            <a href="/login.html#/register" class="right btn btn-sm green" ng-click="re_register()">再次注册</a>
                        </div>
                    </div>
                    <!--<div class="btn_nav" >-->
                        <!--<input type="button" class="prev btn btn-sm blue" style="float:left" value="上一步" ng-click="goBack(1)">-->
                        <!--<a href="/login.html#/register" class="right btn btn-sm green" ng-click="re_register()">再次注册</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </form>
</div>