<div  class="functionSet" name="functionSet">
    <div class="main-top-bar">
        <p><span class="icon-icon_location"></span>功能设置</p>
    </div>

   <div class="main-content">
       <div class="commonModule">
           <div class="module_header" >公共模块</div>
           <div class="module_header_content">
               <div class="col-lg-3 module_content" ng-repeat="item in dataList_common">
                   <div class="module_info" ng-class="{true:'open',false:'unopen'}[item.checked]">
                       <div class="desc">{{item.main_event_display}}</div>
                       <div class="checkbox" >
                           <input type="checkbox" ng-click="item.checked=!item.checked;setCommon(item.main_event,item.checked)" ng-checked="item.checked"/>
                           <label></label>
                       </div>
                   </div>
               </div>
               <!--<div class="col-lg-3 module_content">-->
                   <!--<div class="module_info">-->
                       <!--<div class="desc">在库移动检测</div>-->
                       <!--<div class="checkbox" >-->
                           <!--<input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>-->
                           <!--<label></label>-->
                       <!--</div>-->
                   <!--</div>-->
               <!--</div>-->
               <!--<div class="col-lg-3 module_content">-->
                   <!--<div class="module_info">-->
                       <!--<div class="desc">在线检测</div>-->
                       <!--<div class="checkbox" >-->
                           <!--<input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>-->
                           <!--<label></label>-->
                       <!--</div>-->
                   <!--</div>-->
               <!--</div>-->
               <!--<div class="col-lg-3 module_content">-->
                   <!--<div class="module_info">-->
                       <!--<div class="desc">出库检测</div>-->
                       <!--<div class="checkbox" >-->
                           <!--<input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>-->
                           <!--<label></label>-->
                       <!--</div>-->
                   <!--</div>-->
               <!--</div>-->







           </div>
        </div>
       <div class="detail_function">
            <div class="function_header">详细功能</div>
           <div class="function_content">
               <table class="table table-content">
                   <thead>
                        <tr>
                            <th>功能</th>
                            <th>设置</th>
                            <th>警告灯</th>
                            <th>摄像头</th>
                        </tr>
                    </thead>
                   <tbody>
                        <tr>
                            <td>
                                <div class="normal_func">正常入库</div>
                                <div class="checkbox normal_checkbox" >
                                    <input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <div class="noset">
                                    <input type="radio"  ng-click="item.checked=!item.checked" ng-checked="item.checked" name="no" class="no"/>缺省
                                </div>
                                <div class="customset">
                                    <input type="radio"  ng-click="item.checked=!item.checked" ng-checked="item.checked" name="custom" class="custom"/>自定义
                                </div>
                            </td>
                            <td>
                                <div class="warn_left">警告灯L1</div>
                                <div class="warn_right">绿灯闪烁</div>
                            </td>
                            <td>
                                <div class="camera_left">警告灯L1</div>
                                <div class="camera_right">绿灯闪烁</div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="abnormal_func">
                                    异常出入库,已出库的<br>RFID不能合法出入库
                                </div>
                                <div class="checkbox normal_checkbox" >
                                    <input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <div class="noset">
                                    <input type="radio"  ng-click="item.checked=!item.checked" ng-checked="item.checked" name="abnormal_no" class="no"/>缺省
                                </div>
                                <div class="customset">
                                    <input type="radio"  ng-click="item.checked=!item.checked" ng-checked="item.checked" name="abnormal_custom" class="custom"/>自定义
                                </div>
                            </td>
                            <td>
                                <div class="abnormal_warn_left">
                                    <ui-select ng-model="a" theme="bootstrap"
                                               on-select="a=$select.selected">
                                        <ui-select-match placeholder="--请选择-">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in selections">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="abnormal_warn_right">
                                    <ui-select ng-model="a" theme="bootstrap"
                                               on-select="a=$select.selected">
                                        <ui-select-match placeholder="--请选择-">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in selections">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>
                            <td>
                                <div class="abnormal_camera_left">
                                    <ui-select ng-model="a" theme="bootstrap"
                                               on-select="a=$select.selected">
                                        <ui-select-match placeholder="--请选择-">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in selections">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="abnormal_camera_right">
                                    <ui-select ng-model="a" theme="bootstrap"
                                               on-select="a=$select.selected">
                                        <ui-select-match placeholder="--请选择-">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in selections">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </td>

                        </tr>
                   </tbody>
               </table>
           </div>
       </div>


    <!--<div class="checkbox" >-->
        <!--<input type="checkbox" ng-click="item.checked=!item.checked" ng-checked="item.checked"/>-->
        <!--<label></label>-->
    <!--</div>-->
   </div>
</div>