<style>
    #location_container{
        padding: 0 171px 0 191px;
        height: 684px;
    }
    .middle{
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .middle>.middle-wrap{
        display: block;
        position: relative;
        width: 100%;
        overflow-y: hidden;
        white-space: nowrap;
        overflow-x: auto;
        /*height: 100%;*/
    }
    .left{
        position: relative;
        float: left;
        width: 199px;
        margin-left: -100%;
        left: -199px;
        height: 100%;
        background: url("/lib/img/bg_left.jpg") no-repeat center;
    }
    .right{
        position: relative;
        float: left;
        right: -171px;
        width: 171px;
        height: 100%;
        margin-left: -171px;
        background: url("/lib/img/bg_right.jpg") no-repeat right;
    }
    .position-site{
        width: 100%;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        color: #666;
    }
    .ware-block{
        width: 100%;
        height: 220px;
        display: inline-block;
    }
    .ware-block-group{
        display: inline-block;
        width: 320px;
        margin:0 30px 60px 30px;
        white-space: nowrap;
        position: relative;
    }
    .cargo-body{
        width: 100%;
        padding-top: 100%;
        transition: all 1000ms ease-in-out;
    }
    .cargo-upside{
        width: 60px;
        display: inline-block;
        position: relative;
        margin: 0 10px 10px 10px;
    }
    .cargo-downside{
        width: 60px;
        display: inline-block;
        position: relative;
        margin:10px 10px 0 10px;
    }
    .cargo-road{
        width: 320px;
        height: 90px;
        background:url("/lib/img/reader.png") no-repeat center;
        background-size:contain;
        margin: 5px 0;
    }
    .cargo-state10{
        background: url("/lib/img/sq_grey.png") no-repeat center;
        background-size: contain;
    }
    .cargo-state11{
        background: url("/lib/img/sq_green.png") no-repeat center;
        background-size: contain;
    }
    .cargo-state12{
        background: url("/lib/img/sq_red.png") no-repeat center;
        background-size: contain;
    }
    .cargo-state00{
        background: url("/lib/img/rd_grey.png") no-repeat center;
        background-size: contain;
    }
    .cargo-state01{
        background: url("/lib/img/rd_green.png") no-repeat center;
        background-size: contain;
    }
    .cargo-state02{
        background: url("/lib/img/rd_red.png") no-repeat center;
        background-size: contain;
    }
</style>
<div id="location_container">
    <div class="middle">
        <div id="news-warming" class="col-xs-10 col-md-offset-1">
            <marquee class="news-warming-in" scrollamount="5" behavior="scroll" direction="left">
                <div >{{warn}}</div>
            </marquee>
        </div>
        <div class="middle-wrap">
            <div class="ware-block-group" ng-repeat="items in matrix | orderBy:'':true" ng-init="$i=$index">
                <div class="ware-block" ng-if="$i%2">
                    <div class="cargo-upside pull-right" ng-repeat="item in items[0][0] track by $index">
                        <div class="position-site">{{item.name}}</div>
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                    </div>
                    <div class="cargo-downside pull-right" ng-repeat="item in items[0][1] track by $index">
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                        <div class="position-site">{{item.name}}</div>
                    </div>
                </div>
                <div class="cargo-road" ng-if="$i%2"></div>
                <div class="ware-block" ng-if="$i%2">
                    <div class="cargo-upside pull-right" ng-repeat="item in items[1][0] track by $index">
                        <div class="position-site">{{item.name}}</div>
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                    </div>
                    <div class="cargo-downside pull-right" ng-repeat="item in items[1][1] track by $index">
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                        <div class="position-site">{{item.name}}</div>
                    </div>
                </div>
                <!--分割1到4还是4到1-->
                <div class="ware-block" ng-if="!$i%2">
                    <div class="cargo-upside pull-left" ng-repeat="item in items[0][0] track by $index">
                        <div class="position-site">{{item.name}}</div>
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                    </div>
                    <div class="cargo-downside pull-left" ng-repeat="item in items[0][1] track by $index">
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                        <div class="position-site">{{item.name}}</div>
                    </div>
                </div>
                <div class="cargo-road" ng-if="!$i%2"></div>
                <div class="ware-block" ng-if="!$i%2">
                    <div class="cargo-upside pull-left" ng-repeat="item in items[1][0] track by $index">
                        <div class="position-site">{{item.name}}</div>
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                    </div>
                    <div class="cargo-downside pull-left" ng-repeat="item in items[1][1] track by $index">
                        <div class="cargo-body" ng-class="{0:'cargo-state{{$i}}0',1:'cargo-state{{$i}}1',2:'cargo-state{{$i}}2'}[item.status]"></div>
                        <div class="position-site">{{item.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ware-block-group">-->
            <!--<div class="ware-block">-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state00"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state00"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state02"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state02"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cargo-road"></div>-->
            <!--<div class="ware-block">-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state00"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state00"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state02"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state01"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state02"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ware-block-group">-->
            <!--<div class="ware-block">-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state10"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state10"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state12"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state12"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cargo-road"></div>-->
            <!--<div class="ware-block">-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state10"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state10"></div>-->
                <!--</div>-->
                <!--<div class="cargo-upside pull-right">-->
                    <!--<div class="position-site">234234</div>-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state12"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state11"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
                <!--<div class="cargo-downside pull-right">-->
                    <!--<div class="cargo-body cargo-state12"></div>-->
                    <!--<div class="position-site">234234</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="left"></div>
    <div class="right"></div>
</div>