<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{item.title}}</h3>
    </div>
    <div class="modal-body row">
        <div ng-show="item.text">{{item.text}}</div>
        <div class="row col-md-12" ng-show="item.title">
            <div class=" col-md-12" ng-hide="item.status_disable">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4">RFID卡：</label>
                        <select class="form-control search-md-8" ng-model="status">
                            <option value="-1">选择键值</option>
                            <option ng-repeat="(key, value) in choice" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class=" col-md-12" ng-class="{true:'col-md-12'}[item.status_disable]">
                <form class="form-inline">
                    <div class="form-group col-md-12">
                        <label class="label-md-4" ng-show="item.method=='replace'" style="width: 29%!important">新卡序列号：<em style="color: red;font-size: 8px">(*必填)</em></label>
                        <label class="label-md-4" ng-show="item.method=='add'">序列号：<em style="color: red;font-size: 8px">(*必填)</em></label>
                        <label class="label-md-4" ng-show="item.method=='modify'">序列号</label>
                        <input type="text" class="form-control search-md-8" ng-model="serial_number" placeholder="序列号"/>
                    </div>
                </form>
            </div>
            <!--<table class="table table-hover table-striped table-condensed table-responsive">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th ng-hide="item.status_disable">状态</th>-->
                        <!--<th>序列号</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td ng-hide="item.status_disable">-->
                            <!--<select class="form-control" ng-model="status">-->
                                <!--&lt;!&ndash;<option value="-1">选择键值</option>&ndash;&gt;-->
                                <!--<option ng-repeat="(key, value) in choice" value="{{key}}">{{value}}</option>-->
                            <!--</select>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<input type="text" ng-model="serial_number" class="form-control input-md col-md-6" placeholder="序列号">-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
<div class="row-fluid">
    <div class="row col-md-12 search-board">
        <div class="row col-md-12">
            <div class="row col-md-5">
                <form class="form-inline">
                    <label class="label-md-4">状态：</label>
                    <select class="form-control search-md-8" ng-model="status">
                        <option value="-1">----------</option>
                        <option ng-repeat="(key, value) in choice.data.status" value="{{key}}">{{value}}</option>
                    </select>
                </form>
            </div>
            <div class="row col-md-5">
                <form class="form-inline">
                    <label class="label-md-4">序列号：</label>
                    <input type="text" class="form-control input-md search-md-8" ng-model="serial_number" placeholder="序列号">
                </form>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" ng-click="submit_search()">搜索</button>
            </div>
        </div>
    </div>
    <div class="row col-md-12 add-board">
        <div class="col-md-2" style="margin-top: 10px;">
            <span ng-if="query_result.length">共:{{bigTotalItems}}条记录</span>
        </div>

        <!--暂时去掉add功能-->
        <!--<div class="col-md-1 col-md-offset-8">-->
            <!--<lable class="btn btn-success" ng-click="open('md','add')">+Add</lable>-->
        <!--</div>-->


    </div>
    <div class="row col-md-12 result-board">
        <div class="col-md-12">
            <table class="table table-condensed table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.id]" ng-click="switch_order('id')">编号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.serial_number]" ng-click="switch_order('serial_number')">序列号</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.status]" ng-click="switch_order('status')">显示状态</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.updated_at]" ng-click="switch_order('updated_at')">更新时间</th>
                        <th ng-class="{false:'dwn-arw-af',true:'up-arw-af'}[order.created_at]" ng-click="switch_order('created_at')">创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in query_result">
                        <td>{{items.id}}</td>
                        <td>{{items.serial_number}}</td>
                        <td>{{items.status_display}}</td>
                        <td>{{items.updated_at}}</td>
                        <td>{{items.created_at}}</td>
                        <td>
                            <div class="btn-group-xs">
                                <span class="btn btn-xs" ng-class="{true:'btn-disable',false:'btn-success'}[items.status==3||items.status==4]" ng-disabled="items.status==3||items.status==4" ng-click="open('md','replace',$index)">替换</span>
                                <!--<span class="btn btn-xs btn-success" ng-click="open('md','modify',$index)">修改</span>-->
                                <span class="btn btn-xs " ng-class="{true:'btn-disable',false:'btn-danger'}[items.status==3||items.status==4||items.status==1]" ng-disabled="items.status==3||items.status==4||items.status==1"  ng-click="open('sm','delete',$index)">删除</span>


                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12"  ng-show="bigTotalItems>10">
                <div class="col-md-6">
                    <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></uib-pagination>
                </div>
                <div class="col-md-6 num_per_page">
                    <form class="form-inline">
                        <div class="form-group col-md-12">
                            <label class="label-md-4">每页条数：</label>
                            <select class="form-control search-md-8" ng-model="number" ng-change="setPage()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>