<div ng-controller="pollinventoryCtrl">

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="icon-icon_realtime_text"></span>{{item.title}}</h3>
    </div>
    <div class="modal-body row">
        <div ng-show="item.text">{{item.text}}</div>

        <table class="table table-bordered table-content" ng-show="item.method='info'">
        <thead>
          <tr>
              <th ng-click="switch_order('id')"><p>编号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.id]"></span></p></th>
              <th ng-click="switch_order('card')"><p>卡号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.card]"></span></p></th>
              <th ng-click="switch_order('cardid')"><p>RFID分配编号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.cardid]"></span</p></span></th>
              <th ng-click="switch_order('pos')"><p>货位<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.pos]"></span></p></th>
              <th><p>检测结果</p></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><p>{{item.id}}</p></td>
          </tr>
        </tbody>
      </table>
        <div class="pop-delete-com pop-delete-com-poll" ng-show="item.method=='delete'"><p><span></span>确定要删除这个检测吗？<br/>注意：删除以后不可以恢复！</p></div>

    </div>
    <div class="modal-footer" ng-show="item.method=='delete'">
      <div class="modal-footer-resize-com modal-footer-resize-poll">
        <button class="btn btn-primary btn-solid-back" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-warning btn-blank-back" type="button" ng-click="cancel()">取消</button>
      </div>
    </div>
</script>

	<div class="main-top-bar poll-bar">
		<p><span class="icon-icon_location"></span>在线管理>轮巡检测</p>
	</div>
	<div class="main-content poll-content">
		<form role="form" class="search-bar poll-select">
			<div class="form-group">
    		<label for="name">检测状态:</label> 
    		<!-- <ui-select ng-model="state.name" theme="bootstrap"> -->
        <ui-select ng-model="statusSel" theme="bootstrap" on-select="statusSelFunc(statusSel)">
          <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in state">
            <div ng-bind-html="item.name"></div>
            <!-- <small ng-bind-html="item.email"></small> -->
          </ui-select-choices>
        </ui-select>
			</div>
			<!-- <div class="form-group">
    			<label for="name">序列号:</label> 
    			 <input type="text" class="form-control" id="serial-search" placeholder="请输入名称" ng-model="serial_search">
			</div> -->
			<div class="btns-group">
				<button type="button" class="btn btn-com-search btn-rfid-search" ng-click="status=statusTemp;serial_searchTemp=serial_search;submit_search(1)"><span class="icon-icon_search"></span>搜索</button>
				<!-- <button type="button" class="btn btn-rfid-add" ng-click="open('md','add',$index)"><span></span>增加</button> -->
			</div>
		</form>

    <div class="condition-sort">
      <table class="table table-pagination table-time">
        <thead>
                <tr>
                  <th class="pagination-items-per-page">
                        <input type="checkbox" class="time-set" checked="checked" />
                        <span class="pagination-tip2">每</span>
                        <ui-select ng-model="number3" theme="bootstrap" on-select="setShowNum2(number3)">
                          <ui-select-match placeholder="5">{{$select.selected}}</ui-select-match>
                          <ui-select-choices repeat="item in numbers2">
                              <div ng-bind-html="item"></div>
                              <!-- <small ng-bind-html="item.email"></small> -->
                          </ui-select-choices>
                        </ui-select>
                        <span class="pagination-tip2 pagination-tip-last">分钟一次盘点</span>
                      
                  </th>
              </tr>
          </thead>
      </table>
      <table class="table table-pagination table-pagination-sort">
            <thead>
                <tr>
                  <th class="pagination-items-per-page">
                      <div class="pagination-content">
                        <span class="pagination-tip">每页显示数量</span>
                        <ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                          <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                          <ui-select-choices repeat="item in numbers">
                              <div ng-bind-html="item"></div>
                              <!-- <small ng-bind-html="item.email"></small> -->
                          </ui-select-choices>
                        </ui-select>
                      </div>
                  </th>
              </tr>
          </thead>
        </table>

    </div>

		<table class="table table-bordered table-content">
  			<thead>
    			<tr>
      				<th ng-click="switch_order('id')"><p>编号<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.id]"></span></p></th>
      				<th ng-click="switch_order('status')"><p>检测状态<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.status]"></span></p></th>
      				<th ng-click="switch_order('date')"><p>检测时间<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.date]"></span</p></span></th>
              <th ng-click="switch_order('updated_at')"><p>更新时间<span ng-class="{false:'dwn-arw-af-card',true:'up-arw-af-card'}[order.updated_at]"></span></p></th>
              <th><p>操作</p></th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr ng-repeat="item in dataList">
    				<td><p>{{item.id}}</p></td>
      				<td><p>{{item.state}}</p></td>
      				<td><p>{{item.date}}</p></td>
      				<td><p>{{item.updated_at}}</p></td>
      				<td ng-show="item.state == 0"><p><!-- <span class="rfid-edit icon-icon_edit" ng-click="open('md-edit','replace',$index)"></span> --><span class="rfid-delete icon-icon_cancel" ng-click="open('md-delete','delete',$index)"></span></p></td>
              <td ng-show="item.state == 1"><p></p></td>
              <td ng-show="item.state == 2 || item.state == 3"><p><!-- <span class="rfid-edit icon-icon_edit" ng-click="open('md-edit','replace',$index)"></span> --><span class="rfid-delete icon-icon_information" ng-click="open('md-delete','delete',$index)">查看结果</span></p></td>
    			</tr>
    		</tbody>
    	</table>

    	<div class="emptyDataList {{emptyDataListShow}}">

    		<p><span class="icon-icon_realtime_text"></span><span>对不起，您搜索的内容不存在。<br/>请重新搜索。</span></p>
 
    	</div>
      <table class="table table-pagination" ng-show="bigTotalItems>0">
        <thead>
          <tr>
            <!-- <th class="pagination-items-per-page">
              <div class="pagination-content">
              <span class="pagination-tip">每页显示数量</span>
              <ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in numbers">
                    <div ng-bind-html="item"></div>
                </ui-select-choices>
              </ui-select>
              </div>
            </th> -->
            <th>
             <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()" ng-model="index" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" num-pages="numPages" previous-text="上一页" next-text="下一页">
             </uib-pagination>
              <div class="pagination-detail">
                <span>共{{total_page}}页</span>
                <span>跳至<input type="text" ng-model="index"/>页</span>
                <span><button id="" ng-click="setPage()">确定</button></span>
              </div>
            </th>

          </tr>
        </thead>
        
      </table>
	</div>
</div>