<div ng-controller="cameraCtrl" class="camera_Content" name="camera">
    <script type="text/ng-template" id="myModalContent.html">
       <div ng-class="{'camera_Modal':modal_add_modify,'camera_delete':modal_delete}" >
           <div class="modal-header" >
               <div class="modal-title" ><span class="icon-icon_camera"></span>{{item.title}}</div>
           </div>

           <div class="add " ng-show="modal_add_modify" >
             <form role="form" >
                <div class="form-group form-group-selin">
                 <label>功能类型:</label>
                 <ui-select ng-model="func_type" theme="bootstrap"  on-select="select_func_type(func_type)">
                     <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                     <ui-select-choices repeat="item.state as item in func_type_Items">
                         <div ng-bind-html="item.name | highlight: $select.search"></div>
                         <!-- <small ng-bind-html="item.email"></small> -->
                     </ui-select-choices>
                 </ui-select>
             </div>
                 <div class="form-group form-group-selin">
                     <label>状态:</label>
                     <ui-select ng-model="state" theme="bootstrap" on-select="select_status(state)">
                         <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                         <ui-select-choices repeat="item.state as item in status_Items">
                             <div ng-bind-html="item.name | highlight: $select.search"></div>
                             <!-- <small ng-bind-html="item.email"></small> -->
                         </ui-select-choices>
                     </ui-select>
                 </div>
                 <div class="form-group form-group-selin">
                     <label><span style="color: red">*</span>序列号:</label>
                     <input type="text" name="serial_number"  required  ng-model="serial_number" placeholder="  序列号"/>
                 </div>
                 <div class="form-group form-group-selin">
                     <label>描述:</label>
                     <input type="text" ng-model="description"    placeholder="  描述" />
                 </div>
                 <div class="form-group form-group-selin">
                     <label>库位:</label>
                     <input type="text" ng-model="storage_names" placeholder="  库位"/>
                 </div>
                 <div class="form-group form-group-selin">
                     <label>IP地址:</label>
                     <input type="text"  ng-model="ip_address" placeholder="  IP地址"/>
                 </div>
                 <div class="form-group form-group-selin">
                     <label>直播地址:</label>
                     <input type="text" ng-model="live_address" placeholder="  直播地址"/>
                 </div>
             </form>
           </div>
           <div class="delete"  ng-show="modal_delete" >
               <div class="dele_info">
                 <span class="icon-icon_warning"></span>
                 <span class="dele_info_desc1">确定要删除这个摄像头信息吗?
                     <span class="dele_info_desc2">注意:删除以后不可恢复!</span>
                 </span>
               </div>
           </div>
           <div style="clear: both"></div>
           <div class="camera_modal-footer">
               <div class="cameraBtn" ng-class="{'cameraBtn1':modal_delete}">
                   <button class="btn btn-primary btn-solid-back" ng-class="{'btn-solid-back1':modal_delete}" type="button" ng-click="ok()">确定</button>
                   <button class="btn btn-warning btn-blank-back" ng-class="{'btn-blank-back1':modal_delete}" type="button" ng-click="cancel()">取消</button>
               </div>
           </div>
       </div>


    </script>

    <div class="content-bar">
        <p><span class="icon-icon_location"></span>设备管理>摄像头</p>
    </div>
    <div class="main-content content">
        <form role="form" class="function_type_select">
            <div class="form-group form-group-selin">
                <label for="name">功能类型:</label>
                <ui-select ng-model="functype" theme="bootstrap"  on-select="select_func_type(functype)">
                    <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.state as item in func_type_Items">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                        <!-- <small ng-bind-html="item.email"></small> -->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group form-group-selin">
                <label for="name">摄像头状态:</label>
                <ui-select ng-model="state" theme="bootstrap" on-select="select_status(state)">
                    <ui-select-match placeholder="--请选择-">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.state as item in status_Items">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                        <!-- <small ng-bind-html="item.email"></small> -->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group form-group-selin">
                <label for="name">摄像头描述:</label>
                <input type="text" placeholder="  摄像头描述" class="camera_desc" ng-model="description"/>
            </div>
            <div class="form-group form-group-selin">
                <label for="name">摄像头监视货位:</label>
                <input type="text" placeholder="  摄像头监视货位" class="camera_monitor" ng-model="storage_names"/>

            </div>
            <div style="clear: both"></div>
            <div class="btns-group" >
                 <button type="button" class="btn btn-camera-search" ng-click="submit_search()"><span class="icon-icon_search"></span>搜索</button>
                 <button type="button" class="btn btn-camera-add" ng-click="open('md','add',$index)"><span class="icon-icon_plus"></span>增加</button>
            </div>
        </form>

                    <table class="table table-bordered table-content" >
                        <thead >
                        <tr>
                            <th ng-click="switch_order('id')">编号<span  ng-class="{true:'icon-icon_sort_up',false:'icon-icon_sort_down'}[order.id]"></span></th>
                            <th ng-click="switch_order('serial_number')">序列号<span ng-class="{true:'icon-icon_sort_up',false:'icon-icon_sort_down'}[order.serial_number]"></span></th>
                            <th ng-click="switch_order('func_type')">功能类型<span ng-class="{true:'icon-icon_sort_up',false:'icon-icon_sort_down'}[order.func_type]"></span></th>
                            <th>库位地址</th>
                            <th>状态</th>
                            <!--<th>RFID读写器</th>-->
                            <th>IP地址</th>
                            <th>直播地址</th>

                            <th>描述</th>
                            <th  ng-click="switch_order('updated_at')">更新时间<span ng-class="{true:'icon-icon_sort_up',false:'icon-icon_sort_down'}[order.updated_at]"></span></th>
                            <th  ng-click="switch_order('created_at')">创建时间<span ng-class="{true:'icon-icon_sort_up',false:'icon-icon_sort_down'}[order.created_at]"></span></th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="items in query_result">
                            <td>{{items.id}}</td>
                            <td>{{items.serial_number}}</td>
                            <td>{{items.func_type_display}}</td>
                            <td>{{items.storage_names}}</td>
                            <td>{{items.status_display}}</td>

                            <td>{{items.ip_address}}</td>
                            <td><a  ng-click="live(items.live_address,items.storage_list,items.ip_address)" ng-show="items.live_address&&items.storage_list.length>0" title="{{items.live_address}}" target="_blank">地址</a></td>
                            <!--<td>{{items.rfid_reader.serial_number}}</td>-->
                            <td><span tooltip-placement="bottom" uib-tooltip="{{items.description}}">{{items.description |characters:10 :true}}</span></td>
                            <!--<td>{{items.description}}</td>-->
                            <td>{{items.updated_at}}</td>
                            <td>{{items.created_at}}</td>
                            <td>
                                <p><span class="icon-icon_edit"   ng-click="open('md','modify',$index)"></span>
                                    <span class="icon-icon_cancel" ng-click="open('sm','delete',$index)"></span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
        <div  ng-class="{'notFound':notFound}" ng-show="notFound">
            <p><span class="icon-icon_camera"></span><span class="notFound_desc">对不起，您搜索的内容不存在。<br/>请重新搜索。</span></p>
        </div>
        <table class="table table-pagination " ng-show="bigTotalItems>0">
            <thead>
            <tr>
                <th class="pagination-items-per-page">
                    <!-- <span>每页显示数量</span>
                    <ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                        <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in numbers">
                            <div ng-bind-html="item"></div>
                        </ui-select-choices>
                    </ui-select> -->
                    <div class="pagination-content">
                        <span class="pagination-tip">每页显示数量</span>
                        <ui-select ng-model="number" theme="bootstrap" on-select="setShowNum(number)">
                            <ui-select-match placeholder="10">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in numbers">
                                <div ng-bind-html="item"></div>
                                <!-- <small ng-bind-html="item.email"></small> -->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </th>
                <th>
                    <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" num-pages="numPages" previous-text="上一页" next-text="下一页"></uib-pagination>
                    <div class="pagination-detail">
                        <span>共{{total_page}}页</span>
                        <span>跳至<input type="text" ng-model="bigCurrentPage"/>页</span>
                        <span><button id="" ng-click="changePage()">确定</button></span>
                    </div>
                </th>

            </tr>
            </thead>

        </table>


    </div>
    <div class="cover" ng-show="liveStatus">
        <div class="cover1">
            <div id="play"></div>
            <img ng-click="close()" class="closeVideo" src="/lib/img/icon_close.png"/>
        </div>

    </div>
</div>
