<div ng-controller="userCtrl" name="user">
	<script type="text/ng-template" id="myModalContent.html">
    	<div class="modal-header">
        	<h3 class="modal-title"><span class="icon-icon_RFIDcard"></span>{{item.title}}</h3>
    	</div>
    	<div class="modal-body row">
        	<div ng-show="item.text">{{item.text}}</div>
        	<form role="form" class="pop-edit-form-com edit-form-user" ng-show="item.method=='modify' || item.method=='add'">
        		<div class="form-group">
    				  <label for="username">用户名:</label> 
    			 	  <input type="text" class="form-control {false:'',true:'disable-input'}[disAlter]" id="username" placeholder="请输入用户名" ng-model="username" ng-disabled="disAlter">
				    </div>
            <div class="form-group" ng-show="item.method=='add'">
              <label for="password">密码:</label> 
              <input type="password" class="form-control" id="password" placeholder="请输入密码" ng-model="password">
            </div>
            <div class="form-group" ng-show="item.method=='add'">
              <label for="re_password">确认密码:</label> 
              <input type="password" class="form-control" id="re_password" placeholder="请确认密码" ng-model="re_password">
            </div>
          		<div class="form-group">
    				<label for="role2">角色:</label> 
    				<ui-select ng-model="role2" theme="bootstrap" on-select="roleSel(role2)">
            			<ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
            			<ui-select-choices repeat="item in roleList">
              				<div ng-bind-html="item.value"></div>
              				<!-- <small ng-bind-html="item.email"></small> -->
            			</ui-select-choices>
          			</ui-select>
				</div>
				<div class="form-group">
    				<label for="status">状态:</label>
    				<ui-select ng-model="status2" theme="bootstrap" on-select="statusSel(status2)">
            			<ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
            			<ui-select-choices repeat="item in statusList">
              				<div ng-bind-html="item.value"></div>
              				<!-- <small ng-bind-html="item.email"></small> -->
            			</ui-select-choices>
          			</ui-select>
				</div>
        	</form>

        	<div class="pop-delete-com pop-delete-com-user" ng-show="item.method=='delete'"><p><span></span>确定要删除这个用户信息吗？<br/>注意：删除以后不可以恢复！</p></div>

    	</div>
    	<div class="modal-footer">
      		<div class="modal-footer-resize-com modal-footer-resize-card">
        		<button class="btn btn-primary btn-solid-back" type="button" ng-click="ok()">确定</button>
        		<button class="btn btn-warning btn-blank-back" type="button" ng-click="cancel()">取消</button>
      		</div>
    	</div>
	</script>
	<div class="main-top-bar user-bar">
		<p><span class="icon-icon_location"></span>用户管理>用户列表</p>
	</div>
	<div class="main-content user-content">
		<form role="form" class="search-bar user-select">
			<div class="form-group">
    			<label for="role2">角色:</label> 
    			<ui-select ng-model="role2" theme="bootstrap" on-select="roleSel(role2)">
            		<ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
            		<ui-select-choices repeat="item in roleList">
              			<div ng-bind-html="item.value"></div>
              			<!-- <small ng-bind-html="item.email"></small> -->
            		</ui-select-choices>
          		</ui-select>
			</div>
			<div class="form-group">
    			<label for="status">状态:</label> 
    			<ui-select ng-model="status2" theme="bootstrap" on-select="statusSel(status2)">
            		<ui-select-match placeholder="--请选择-">{{$select.selected.value}}</ui-select-match>
            		<ui-select-choices repeat="item in statusList">
              			<div ng-bind-html="item.value"></div>
            		</ui-select-choices>
          		</ui-select>
			</div>
			<div class="form-group">
    			<label for="username">用户名:</label> 
    			 <input type="text" class="form-control" id="username" placeholder="请输入用户名" ng-model="username">
			</div>
			<div class="btns-group">
				<button type="button" class="btn btn-rfid-search" ng-click="role=roleTemp;status=statusTemp;usernameTemp=username;index=1;submit_search()"><span class="icon-icon_search"></span>搜索</button>
				<button type="button" class="btn btn-rfid-add" ng-click="open('md-add-user','add',$index)"><span class="icon-icon_plus"></span>增加</button>
			</div>
		</form>
		<div class="condition-sort">
			<ul class="condition-sort-ul">
				<li class="condition-sort-li" ng-click="switch_order('id')"><p>编号<span ng-class="{false:'icon-icon_sort_down',true:'icon-icon_sort_up'}[order.id]"></span></p></li>
				<li class="condition-sort-li" ng-click="switch_order('user_role_type')"><p>角色<span ng-class="{false:'icon-icon_sort_down',true:'icon-icon_sort_up'}[order.user_role_type]"></span></p></li>
				<li class="condition-sort-li" ng-click="switch_order('is_active')"><p>状态<span ng-class="{false:'icon-icon_sort_down',true:'icon-icon_sort_up'}[order.is_active]"></span></p></li>
				<li class="condition-sort-li" ng-click="switch_order('date_joined')"><p>创建时间<span ng-class="{false:'icon-icon_sort_down',true:'icon-icon_sort_up'}[order.date_joined]"></span></p></li>
			</ul>
			<table class="table table-pagination table-pagination-sort">
        		<thead>
          			<tr>
            			<th class="pagination-items-per-page">
              				<div class="pagination-content">
              					<span class="pagination-tip">每页显示数量</span>
              					<ui-select ng-model="number2" theme="bootstrap" on-select="setShowNum(number2)">
                					<ui-select-match placeholder="8">{{$select.selected}}</ui-select-match>
                					<ui-select-choices repeat="item in numbers">
                    					<div ng-bind-html="item"></div>
                    					<!-- <small ng-bind-html="item.email"></small> -->
                					</ui-select-choices>
              					</ui-select>
              				</div>
            			</th>
        			</tr>
    			</thead>
    		</table>

		</div>

		<ul class="table-content-user">
			<li ng-repeat="item in dataList">
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-name">NO:{{item.id}}</span>
						<span class="rfid-delete icon-icon_cancel" ng-click="open('md-delete','delete',$index)"></span>
						<span class="rfid-edit icon-icon_edit" ng-click="open('md-edit-user','modify',$index)"></span>
					</p>
				</div>
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-title">用户名</span>
						<span class="table-content-user-name">{{item.username}}</span>
					</p>
				</div>
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-title">角色</span>
						<span class="table-content-user-name">{{item.get_user_role_type_display}}</span>
					</p>
				</div>
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-title">状态</span>
						<span class="table-content-user-name">{{item.is_active | user_active}}</span>
					</p>
				</div>
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-title">创建时间</span>
						<span class="table-content-user-name">{{item.date_joined}}</span>
					</p>
				</div>
				<div class="table-content-user-detail">
					<p>
						<span class="table-content-user-title">最后登录时间</span>
						<span class="table-content-user-name">{{item.last_login}}</span>
					</p>
				</div>


			</li>

		</ul>

		<div class="emptyDataList {{emptyDataListShow}}">

    		<p><span class="icon-icon_users"></span><span>对不起，您搜索的内容不存在。<br/>请重新搜索。</span></p>
 
    	</div>

		<table class="table table-pagination" ng-show="bigTotalItems>0">
        <thead>
          <tr>
            <th>
             <uib-pagination items-per-page="number" total-items="bigTotalItems" ng-change="changePage()" ng-model="index" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" num-pages="total_page" previous-text="上一页" next-text="下一页">
             </uib-pagination>
              <div class="pagination-detail">
                <span>共{{total_page}}页</span>
                <span>跳至<input type="text" ng-model="index_sel"/>页</span>
                <span><button id="" ng-click="setPage()">确定</button></span>
              </div>
            </th>

          </tr>
        </thead>
        
      </table>
	</div>
</div>