<div class="sideBar">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user-md icon-large"></i> 统计数据
            </a>

        </li>
        <li>
            <a href="#device" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user-md icon-large"></i> 设备管理
            </a>
            <ul id="device" class="nav nav-list">
                <li><a href="#"><i class="icon-user"></i> RFID卡</a></li>
                <li><a href="#"><i class="icon-edit"></i> RFID卡数据</a></li>
                <li><a href="#"><i class="icon-trash"></i> 摄像头</a></li>
                <li><a href="#"><i class="icon-list"></i> 读写器</a></li>
                <li><a href="#"><i class="icon-list"></i> 事件日志</a></li>
            </ul>

        </li>
        <li >
            <a href="#warn" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user-md icon-large"></i>警报管理
            </a>
            <ul id="warn" class="nav nav-list">
                <li><a href="#"><i class="icon-user"></i> RFID卡</a></li>
                <li><a href="#"><i class="icon-edit"></i> RFID卡数据</a></li>
                <li><a href="#"><i class="icon-trash"></i> 摄像头</a></li>
                <li><a href="#"><i class="icon-list"></i> 读写器</a></li>
                <li><a href="#"><i class="icon-list"></i> 事件日志</a></li>
            </ul>

        </li>
        <li >
            <a href="#" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user-md icon-large"></i>用户管理
            </a>

        </li>
        <li >
            <a href="#" class="nav-header collapsed" data-toggle="collapse">
                <i class="icon-user-md icon-large"></i>我的仓库
            </a>

        </li>
    </ul>
</div>