<div id="sidebar-wrapper" ng-controller="siderbar">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        Iot 仓储
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <!--<li class="sidebar-title"><span>导航</span></li>-->
    <li class="sidebar-list">
      <a href="#/card" ng-class="{'card':'siderbar-active'}[active_item]" ng-click="active('card')">RFID卡 <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/content" ng-class="{'content':'siderbar-active'}[active_item]" ng-click="active('content')">RFID内容 <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/camera" ng-class="{'camera':'siderbar-active'}[active_item]" ng-click="active('camera')">摄像头 <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/reader" ng-class="{'reader':'siderbar-active'}[active_item]" ng-click="active('reader')">读写器 <span class="menu-icon fa fa-table"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/eventlog" ng-class="{'eventlog':'siderbar-active'}[active_item]" ng-click="active('eventlog')">事件日志 <span class="menu-icon fa fa-table"></span></a>
    </li>
    <!--<li class="sidebar-list">-->
      <!--<a href="#/imgs" ng-class="{'imgs':'siderbar-active'}[active_item]" ng-click="active('imgs')">平面图 <span class="menu-icon fa fa-table"></span></a>-->
    <!--</li>-->
    <tib-accordion>
      <li class="sidebar-list">
        <a href="#/location" ng-class="{'location':'siderbar-active'}[active_item]" ng-click="active('location')">仓库监视图
          <span class="menu-icon fa fa-table"></span>
        </a>
      </li>
    </tib-accordion>
  </ul>
</div>