<div class="header_com">
	<div class="header_com_logo"><img src="/lib/img/use-logo.png" /></div>
	<div class="header_com_title"><p>IOT智能仓库系统</p></div>
	
	<div class="dropdown header_com_user" dropdown>
    	<button type="button" class="btn dropdown-toggle" id="header_com_user_menu" data-toggle="dropdown"  dropdown-toggle>	Hi,{{header_username}}
        	<span class="caret"></span>
    	
    	</button>
    	<ul class="dropdown-menu dropdown-menu-right header-menu-pos" role="menu" aria-labelledby="header_com_user_menu">
        	<li role="presentation">
            	<a role="menuitem" tabindex="-1" href="javascript:;">我的帐号</a>
        	</li>
        	<li role="presentation">
            	<a role="menuitem" tabindex="-1" href="javascript:;">修改密码</a>
        	</li>
        	<li role="presentation">
            	<a role="menuitem" tabindex="-1" href="javascript:;">退出</a>
        	</li>
        	
    	</ul>
	</div>
	<div class="header_com_portrait"><img src="/lib/img/header.png" /></div>
</div>
