<div ng-controller="warnDetailCtrl">
    <div class="main-top-bar">
        <p><span class="icon-icon_location"></span>警报管理>警报列表>详细信息</p>
    </div>
    <div class="main-content">
        <div class="main-detail">
            <div class="main-detail-tab">
                <ul class="nav nav-tabs">
                    <li class="tab-item" style="margin-left:20px;" ng-class="tabSwitch==0?'active':''" ng-click="tabSwitch=0;"><a href="javascript:void(0)"><span class="icon icon-icon_picture"></span><br/>照片地址</a></li>
                    <li class="tab-item" ng-class="tabSwitch==1?'active':''" ng-click="tabSwitch=1;"><a href="javascript:void(0)"><span class="icon icon-icon_video"></span><br/>视频地址</a></li>
                </ul>
                <div class="detail-img" ng-show="tabSwitch==0">
                    <img ng-src="{{detail.img1}}"/>
                </div>
                <div class="detail-img" ng-show="tabSwitch==1">
                    <img ng-src="{{detail.img2}}"/>
                </div>
            </div>
            <div class="main-detail-content">
                <div class="detail-row">
                    <label class="col-lg-12"></label>
                </div>
            </div>
            <div class="main-detail-record">

            </div>
        </div>
    </div>
</div>