<div ng-controller="warnDetailCtrl">
    <div class="main-top-bar">
        <p><span class="icon-icon_location"></span>警报管理>警报列表>详细信息</p>
    </div>
    <div class="main-content">
        <div class="main-detail">
            <div class="main-detail-tab">
                <ul class="nav nav-tabs">
                    <li class="tab-item" style="margin-left:20px;" ng-class="tabSwitch==0?'active':''" ng-click="tabSwitch=0;"><a href="javascript:void(0)"><span class="icon icon-icon_picture"></span><br/>照片地址</a></li>
                    <li class="tab-item" ng-class="tabSwitch==1?'active':''" ng-click="tabSwitch=1;"><a href="javascript:void(0)"><span class="icon icon-icon_video"></span><br/>视频地址</a></li>
                </ul>
                <div class="detail-img" ng-show="tabSwitch==0">
                    <img ng-src="{{detail.img1}}"/>
                    <div class="img-bottom-bar"><span class="icon icon-icon_download" ng-click="download(detail.img1)"></span><span class="icon icon-icon_expand"></span></div>
                </div>
                <div class="detail-img" ng-show="tabSwitch==1">
                    <img ng-src="{{detail.img2}}"/>
                </div>
            </div>
            <div class="main-detail-content">
                <div class="form-group">
                    <span class="col-lg-12"><span class="icon icon-icon_eventlog"></span>NO:{{detail.id}} 详细信息</span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">事件反馈类型</span>
                    <span class="col-lg-4">{{detail.event_feedback_type_display}}</span>
                    <span class="col-lg-2">事件类型</span>
                    <span class="col-lg-4">{{detail.event_type_display}}</span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">事件发生时间</span>
                    <span class="col-lg-4">{{detail.event_datetime}}</span>
                    <span class="col-lg-2">摄像头</span>
                    <span class="col-lg-4">{{detail.ip_address}}</span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">RFID读写器</span>
                    <span class="col-lg-4">{{detail.event_feedback_type_display}}</span>
                    <span class="col-lg-2">事件反馈简述</span>
                    <span class="col-lg-4">{{detail.event_feedback_detail_display|characters:10 :true}}</span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">RIDF列表</span>
                    <span class="col-lg-10">{{detail.rfid_list_display}}</span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">处理结果</span>
                    <span class="col-lg-10">{{detail.handle_result_display}}<a href="javasvript:void(0)" style="margin-left:10px;" ng-if="detail.handle_result==0">前去处理</a></span>
                </div>
                <div class="form-group">
                    <span class="col-lg-2">事件描述</span>
                    <span class="col-lg-10">{{detail.description}}</span>
                </div>
            </div>
            <div class="main-detail-record">

            </div>
        </div>
    </div>
</div>